@charset "UTF-8";
@font-face {
  font-family: "Noto";
  src: local("Noto Sans"), local("NotoSans"), url("/_img/2015.1/fonts/NotoSans-Regular.woff");
  font-weight: 400; }
@font-face {
  font-family: "Noto";
  src: local("Noto Sans"), local("NotoSans"), url("/_img/2015.1/fonts/NotoSans-Italic.woff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "Noto";
  font-weight: 600;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("/_img/2015.1/fonts/NotoSans-Bold.woff"); }
@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"), url("/_img/2015.1/fonts/SourceCodePro-Regular.woff"); }
@font-face {
  font-family: "s-deva";
  src: url("/_img/2015.1/fonts/NotoSansDevanagari-Regular.ttf"); }
.script-deva {
  font-family: "s-deva"; }

@font-face {
  font-family: "s-hebr";
  src: url("/_img/2015.1/fonts/NotoSansHebrew-Regular.ttf"); }
.script-hebr {
  font-family: "s-hebr"; }
